<div class="page-header">
	<h1>日記一覧</h1>
</div>

<%= link_to "新しい日記を書く", new_diary_path, class: "btn btn-success" %>
<% @diaries.each do |diary| %>
<div class="diary">
	<strong><%= diary.title %></strong>
	<p><%= diary.content %></p>
	<div class="meta">
		<%= link_to time_ago_in_words(diary.created_at) + " ago", diary %>
		<span class="admin">
			| <%= link_to "Edit", edit_diary_path(diary) %> |
			<%= link_to "Delete", diary, method: :delete, data: { confirm: "まじですか？"} %>
			
		</span>
	</div>
</div>
<% end %>








